# Ignore all log files
*.log

# Ignore the 'temp' directory and its contents
temp/

# Ignore sensitive configuration files
secrets.env

# Ignore Node.js dependency cache
node_modules/

# Ignore macOS system files
.DS_Store
#Ignore bin
bin/
#Ignore obj
obj/